absl-py==2.1.0
altair==5.5.0
beautifulsoup4==4.13.3
click==8.1.8
gdown==5.2.0
GitPython==3.1.44
keras==2.15.0
numpy==1.24.4
pandas==2.2.3
pillow==11.1.0
protobuf==3.20.3
streamlit==1.42.1
tensorflow-cpu==2.15.0
tqdm==4.67.1
requests==2.32.3

